@import "../../app/_variables.scss";

.swiperContainer {
  position: relative;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  z-index: 0;
}

.swiperContainer:hover {
  cursor: none;
}

.swiper {
  width: inherit;
  height: inherit;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.swiperItem {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperContentContainer {
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.swiperTextWraper {
  width: 50%;
  box-sizing: border-box;
  margin-left: 80px;
}

.swiperTextWraper h1 {
  max-width: 540px;
}

.swiperItemImg {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-left: 40px;
}

.swiperItemImg img {
  width: 100%;
}

.swiperSubtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.swiperSubtitle::before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -2px;
  width: 40px;
  height: 1.5px;
  margin-right: 12px;
  background-color: $primary-color;
}

.swiperItemName {
  font-size: 100px;
  letter-spacing: -2px;
  margin: 0;
  padding-bottom: 20px;
  line-height: 95px;
  color: $primary-color;
}

.swiperBtn {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $primary-color;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: $primary-color;
  gap: 5px;
  cursor: pointer;
  transition: .3s;
}

.swiperBtn:hover {
  cursor: none;
  color: #000000;
  background-color: transparent;
}

.paginationHorizontal {
  margin-bottom: 20px;
}

.bullet {
  background-color: $primary-color;
  display: inline-block;
  margin-right: 25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.bullet::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000000;
  transform: translate(-8px, -8px);
  transition-duration: 0.3s;
  opacity: 0;
}

.bullet:hover::before {
  opacity: 1;
}

.bullet:hover {
  opacity: 0.5;
}

.activeBullet {
  opacity: 0.5;
}

.activeBullet::before {
  opacity: 1;
}

.activeBullet::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid $primary-color;
  transform: translate(-8px, -8px);
  transition-duration: 0.3s;
}

@media (max-width: 1200px) {
  .swiperContainer {
    height: 600px;
  }

  .swiperTextWraper {
    margin-left: 40px;
  }

  .swiperItemName {
    font-size: 88px;
    line-height: 80px;
  }

  .swiperItemImg img {
    max-width: 420px;
  }
}

@media (max-width: 990px) {
  .swiperContainer {
    height: 500px;
  }

  .swiperItemName {
    font-size: 68px;
    line-height: 60px;
  }

  .swiperItemImg img {
    max-width: 330px;
  }

  .swiperSubtitle {
    font-weight: 500;
  }
}

@media (max-width: 770px) {
  .swiperContainer {
    height: 600px;
  }

  .swiperItem {
    align-items: start;
    width: 500px;
  }

  .swiperContentContainer {
    flex-direction: column;
  }

  .swiperTextWraper {
    width: inherit;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiperItemName {
    width: inherit;
    font-size: 52px;
    line-height: 50px;
    text-align: center;
  }

  .swiperItemImg {
    margin-block: 15px;
    margin-left: 0;
    justify-content: center;
  }

  .swiperItemImg img {
    width: 220px;
  }

  .swiperSubtitle {
    font-size: 17px;
  }

  .swiperSubtitle::before {
    display: none;
  }

  .swiperBtn {
    margin-top: 10px;
  }
}
